
@{
    ViewData["Title"] = "pediatras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">Soy tu pagina de pediatras </h2>

    </div>

</div>